<!--TEST HTML SEARCH PAGE, CREATED USING TUTORIALS-->

{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask your questions here...</title>
    <script src="https://kit.fontawesome.com/462af3b082.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'search.css' %}">
</head>
<body>

<form action="/submit/" method="post">
   {% csrf_token %}
   <div class="search-box">
    <input class="search-txt" type="text" name="search" placeholder="Search the Knowledge Base">
    <input type="submit" class="search-btn" value="GO!">
    </input>
   </div>
</form>

</body>
</html>